Flows/Assignment-3/src/flows/Scheduled_Flow_Birthday_Email_For_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_for_Contact</name>
        <label>Email for Contact</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>Contact.Email_Alert_For_Contact_s_Birthday</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Looping_Through_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Looping_Through_Contacts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Email_Alert_For_Contact_s_Birthday</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Birthday_Today</name>
        <label>Is Birthday Today ?</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Looping_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_isBirthdayEqualToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_isBirthMonthEqualCurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Address_Available</name>
        <label>Is Email Address Available ?</label>
        <locationX>550</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Looping_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Through_Contacts.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Birthday_Today</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_isBirthdayEqualToday</name>
        <dataType>Boolean</dataType>
        <expression>DAY({!Looping_Through_Contacts.Birthdate})=DAY(TODAY())</expression>
    </formulas>
    <formulas>
        <name>forB_isBirthMonthEqualCurrentMonth</name>
        <dataType>Boolean</dataType>
        <expression>MONTH({!Looping_Through_Contacts.Birthdate})=MONTH(TODAY())</expression>
    </formulas>
    <formulas>
        <name>forB_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Scheduled Flow: Birthday Email For Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow: Birthday Email For Contacts</label>
    <loops>
        <name>Looping_Through_Contacts</name>
        <label>Looping Through Contacts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Email_Address_Available</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthdate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-20</startDate>
            <startTime>18:40:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
