Flows/Assignment-2/src/flows/SubFlow_Contact_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Inserted_Updated_or_Deleted</name>
        <label>Inserted, Updated or Deleted ?</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_AfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Insert_Case</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_AfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Update_Case</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_BeforeDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Delete_Case</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Populated</name>
        <label>Is Account Populated ?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Insert_Case.varR_UpdatedAccounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Populated_After_Update</name>
        <label>Is Account Populated ?</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Update_Case.varR_UpdatedAccounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Records</targetReference>
            </connector>
            <label>Yes, Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Populated_Before_Delete</name>
        <label>Is Account Populated ?</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Delete_Case.varR_UpdatedAccounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Rec</targetReference>
            </connector>
            <label>Yes, Account Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Contact Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Rec</name>
        <label>Update Account Rec</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <inputReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Delete_Case.varR_UpdatedAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <inputReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Update_Case.varR_UpdatedAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Insert_Case.varR_UpdatedAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_Updated_or_Deleted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Delete_Case</name>
        <label>SubFlow: Populate Number Of Active Contact On Account Delete Case</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Account_Populated_Before_Delete</targetReference>
        </connector>
        <flowName>SubFlow_Populate_Number_Of_Active_Contact_On_Account</flowName>
        <inputAssignments>
            <name>varB_isDeleted</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_oldContact</name>
            <value>
                <elementReference>varR_oldContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Insert_Case</name>
        <label>SubFlow: Populate Number Of Active Contact On Account Insert Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Account_Populated</targetReference>
        </connector>
        <flowName>SubFlow_Populate_Number_Of_Active_Contact_On_Account</flowName>
        <inputAssignments>
            <name>varB_isInserted</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_newContact</name>
            <value>
                <elementReference>varR_newContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SubFlow_Populate_Number_Of_Active_Contact_On_Account_Update_Case</name>
        <label>SubFlow: Populate Number Of Active Contact On Account Update Case</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Account_Populated_After_Update</targetReference>
        </connector>
        <flowName>SubFlow_Populate_Number_Of_Active_Contact_On_Account</flowName>
        <inputAssignments>
            <name>varB_isInserted</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_newContact</name>
            <value>
                <elementReference>varR_newContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_oldContact</name>
            <value>
                <elementReference>varR_oldContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varB_AfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_BeforeDelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_oldContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
